header{
    background-color: #000000;
    padding: 20px 0px;
}

.imagen_logo{
    width: 20%;
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.caja{
    width: 940px;
    position: relative;
    margin: 0 5%;
}

nav{
    position: absolute;
    top: 94px;
    right: -75%;
}

nav li{
 display: inline;
 margin: 0 0 0 16px;
}

nav a{
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

nav a:hover{
    color:#ff9900;
    text-decoration: underline;
}

.proyectos-lista li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 3px solid transparent;
    border-width: 2px;
    border-radius: 10px;
    border-color: #000000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.proyectos-lista li:hover{
    animation: animateRainbow 5s linear infinite;
    -webkit-animation: animateRainbow 5s linear infinite;
}

.proyectos-lista li:active{
    border-color: chartreuse;
}

.proyectos-lista li:hover h2{
    font-size: 33px;
}

.proyectos-lista{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
    list-style: none;
}

.proyectos-lista img{
    width: calc(75% - 10px);
    margin: 5px;
    box-sizing: border-box;
}

.proyectos-lista h2{
    font-size: 30px;
    font-weight: bold;
}

.proyectos-lista .foto-js{
    width: 71%;
}
.descripcion-proyecto{
    font-size: 18px;
}

.descripcion-aparte{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.proyectos-lista .python-logo-image{
    width: 65.1%;
}

/*codigo de animacion del color de los bordes*/

@keyframes animateRainbow {
    0%, 100% { border-color: red; } /* Primer y último color son iguales */
    16.66667% { border-color: orange; } /* Segundo color */
    33.33333% { border-color: yellow; } /* Tercer color */
    50% { border-color: green; } /* Cuarto color */
    66.66667% { border-color: blue; } /* Quinto color */
    83.33333% { border-color: indigo; } /* Sexto color */
  }