.titulo-principal{
    padding-left: 20px;
}

body{
    background: black;
  }
  
p{
    text-align: center;   
}


strong{
    color: red;
}
#titulo{
    font-size: xx-large;
    text-align: center;
    border: 10px solid black;
    padding: 20px;
    margin: 10px;
}

#banner{
    width: 100%;
}
/*class's*/
.diferencialesItems{
    font-style: italic;
}

.diferenciales{
    background-color: #1fabe29a;
    padding: 10px;
}

.bloquePrincipal{
    background-color: aqua;
    padding: 20px;
}
.imagenDiferenciales{
    width: 70%;
}
ul{
    display: inline-block;/*solo usa hasta donde llega item de la lista sin salto de linea*/
    width: 20%;
    margin-right: 4%;
}
/**/

@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);

svg{
  width: 600px;
  height: 120px;
  display: block; 
  position: relative;
  overflow: hidden; 
  margin: 0 auto;
  background: black;
}