body{
    background: #cccccc
}

p{
    text-align: center;   
}


strong{
    color: red;
}
#titulo{
    font-size: xx-large;
    text-align: center;
    border: 10px solid black;
    padding: 20px;
    margin: 10px;
}

#banner{
    width: 100%;
}
/*class's*/
.diferencialesItems{
    font-style: italic;
}

.diferenciales{
    background-color: #1fabe29a;
}

.bloquePrincipal{
    background-color: aqua;
}